<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" href="~/css/logReg.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Tangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="regbar col-lg-4">
        <h3>Will you?</h3>
        <partial name="LoginPartial"/>
        <partial name="RegistrationPartial"/>
    </div>  
</body>
</html>

